body {
  /* Set the image path */
  background-image: url('detailed-grunge-background.jpg');

  /* Set background size to cover entire body */
  background-size: cover;

  /* Center the background image */
  background-position: center;

  /* Optionally, you can specify whether the background image should repeat */
  background-repeat: no-repeat;

  /* Optionally, you can specify a fallback background color */
  background-color: black; /* Fallback color in case the image doesn't load or is transparent */
  
  /* Add any other styles you need for the body */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  height: 100hv;
}
.background-container{
  
  margin: 0;
  padding: 0;

}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}

.boardSection{
  display: flex;
}
.boardColumn{
  display: flex;
  flex-direction: column-reverse;
}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}
.horizontalTableArray{
  display: flex;
}
.square{
  height: 50px;
  width: 50px;
  background-color: gray;
  font-size: 11px;
  text-transform:uppercase;
  position: relative;
}
.black{
  background-color:  darkgreen ;
}
.white{
  background-color: beige;
}
.selected{
  background-color: yellow;
}
.empty2{
  background-color: red;
  
}
.option{
  background-color: rgb(47, 158, 255);
  border: 1px yellow solid;
  box-sizing: border-box;
}
.treated{
  background-color: orangered;
  border: 1px yellow solid;
  box-sizing: border-box;
}

.piece{
 position:absolute;
 top: 0;
 z-index: 100;
 display: flex;
 align-items: center;
 justify-content: center;
}
.piece img{
  height: 50px;
  width: 50px;
}
#selectedPiece{
  display: flex;
  
}
#selectedCellDisplay{
  text-transform: uppercase;
  margin-left: 8px;
}
#turnDisplaySection{
  display: flex;
  
}
#curretTurnDisplay{
  text-transform: uppercase;
  margin-left: 8px;
}

.jail{
  display: flex;
}
.crowningOptionsSection{
  display: flex;
  gap: 4px;
  background-color: grey;
  padding: 4px;
  border: black 1px solid;
  border-radius: 10px;
  position: absolute;
  top: -40px;
  left: -200%;
  z-index: 101;
}
.crowningOptionsCard{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
.crowningOptionsCard :hover{
  background-color: yellow;
}

