
.boardSection{
  display: flex;
}
.boardColumn{
  display: flex;
  flex-direction: column-reverse;
}

#img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
}
.horizontalTableArray{
  display: flex;
}

.square{
  height: 50px;
  width: 50px;
  background-color: gray;
  font-size: 11px;
  text-transform:uppercase;
  position: relative;
  object-fit: scale-down;
  box-sizing: border-box;
}
.filter{
  position: absolute;
  top:0;
}
.black{
  background-image: url("black-marbel.jpg");
  object-fit: scale-down;
  background-size: cover; /* Scale the background image to cover the entire container */
  background-position: center; /* Center the background image within the container */
  background-repeat: no-repeat; /
}
.white{
  /* background-color: beige; */
  background-image: url("white-marbel.jpg");
  object-fit: scale-down;
  background-size: cover; /* Scale the background image to cover the entire container */
  background-position: center; /* Center the background image within the container */
  background-repeat: no-repeat; /
}
.selected{
  background-color: rgba(222, 193, 43, 0.2);
  border: solid rgba(222, 193, 43, 0.1) 2px;
  box-shadow: inset 0 0 10px rgba(222, 193, 43, 0.79);
}
.empty2{
  background-color: red;
  
}
.option{
  background-color: rgb(47, 158, 255);
  border: 1px yellow solid;
  
}
.treated{
  background-color: orangered;
  border: 1px yellow solid;
  box-sizing: border-box;
}

.piece{
 position:absolute;
 top: 0;
 z-index: 100;
 display: flex;
 align-items: center;
 justify-content: center;
}
.piece img{
  height: 50px;
  width: 50px;
}
#selectedPiece{
  display: flex;
  
}
#selectedCellDisplay{
  text-transform: uppercase;
  margin-left: 8px;
}
#turnDisplaySection{
  display: flex;
  
}
#curretTurnDisplay{
  text-transform: uppercase;
  margin-left: 8px;
}

.jail{
  display: flex;
}
.crowningOptionsSection{
  display: flex;
  gap: 4px;
  background-color: grey;
  padding: 4px;
  border: black 1px solid;
  border-radius: 10px;
  position: absolute;
  top: -40px;
  left: -200%;
  z-index: 101;
}
.crowningOptionsCard{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
.crowningOptionsCard :hover{
  background-color: yellow;
}

